<footer>
    <section class="footer">
        <article>
            <ul type="none" class="nosotros">
                <p class="titulin">
                    Nosotros:
                </p>
                <li><a href="/nosotros">Quienes somos</a></li>
                <li><a href="/vision">Nuestra visión</a></li>
                <li><a href="/enviarCV">Envianos tu CV</a></li>
            </ul>
        </article>
        <article>
            <ul class="menuChico" type="none">
                <li><a href="/alimentos">Alimentos</a></li>
                <li><a href="/accesorios">Accesorios</a></li>
                <li><a href="/peliCanina">Digital spa</a></li>
                <li><a href="/veterinaria">Digital vet</a></li>
            </ul>
        </article>
        <article class="contacto">
            <ul type="none">
                <p class="titulin">Horario de atención:</p>
                <li> De lunes a viernes de 10hs a 20hs</li>

                <p class="titulin">Teléfono:</p>
                <li> 0800-404-PETS</li>

            </ul>
            <ul class="sucursales" type="none">
                <p class="titulin">
                    Sucursales:
                </p>
                <li>Av. Cabildo 4650</li>
                <li>Av. Maipu 591</li>
                <li>Av. Cordoba 7220</li>
            </ul>
        </article>
        <article class="LoguitoYRedes">
            <p>
                <img src="/images/Logo_1.jpg" alt="logo principal" class="LogoChico">
            </p>
            <ul type="none" class="redes">
                <li><i class="fab fa-instagram"> Instagram</i></li>
                <li><i class="fab fa-facebook"> Facebook</i></li>
                <li><i class="fab fa-twitter"> twitter</i></li>
            </ul>
        </article>
        <div class="efectito">

        </div>
    </section>

</footer>