<footer>
    <section class="footer">
        <p>
            <img src="/images/otros/Perrito_footer.jpg" alt="fotito" class="fotito_footer">
        </p>
        <article>
            <ul type="none" class="nosotros">
                <p class="titulin">
                    NOSOTROS
                </p>
                <li><a href="/aboutUs">Quienes somos</a></li>
                <li><a href="/contact">Nuestra visión</a></li>
                <li><a href="/enviarCV">Envianos tu CV</a></li>
            </ul>
        </article>
        <article>
            <ul class="menuChico" type="none">
                <p class="titulin">
                    MENU
                </p>
                <li><a href="/alimentos">Alimentos</a></li>
                <li><a href="/accesorios">Accesorios</a></li>
                <li><a href="/peliCanina">Digital spa</a></li>
                <li><a href="/veterinaria">Digital vet</a></li>
            </ul>
        </article>
        <article>
            <ul class="contacto" type="none">
                <p class="titulin">HORARIOS</p>
                <li>Lunes a viernes</li> 
                <li>de 10hs a 20hs</li>

                <p class="titulin">TELEFONO</p>
                <li>0800-404-PETS</li>

            </ul>
            <ul class="sucursales" type="none">
                <p class="titulin">
                    SUCURSALES
                </p>
                <li>Av. Cabildo 4650</li>
                <li>Av. Maipu 591</li>
                <li>Av. Cordoba 7220</li>
            </ul>
        </article>
        <article class="LoguitoYRedes">
            <ul type="none" class="redes">
                <li><i class="fab fa-instagram"> Instagram</i></li>
                <li><i class="fab fa-facebook"> Facebook</i></li>
                <li><i class="fab fa-twitter"> twitter</i></li>
            </ul>
        </article>
        
        </div>
    </section>

</footer>