<header>
    <img src="/images/Logo_1.jpg" alt="logo principal" class="LogoPrincipal">
    <h1 class="Titulo">Digital Petshop</h1>
    <section class="menuLogin">
        <ul type="none">
            <li><a href="userLogin">Iniciá sesión</a></li>
            <li><a href="userRegister">Creá tu cuenta</a></li>
        </ul>
    </section>
</header>