<nav class="BarraDeMenu">
    <section>
        <ul class="menu_1" type="none">
            <li><a href="products">Productos</a></li>
            <li><a href="aboutUs">Quienes somos</a></li>
            <li><a href="contact">Contacto</a></li>
            <li><a href="admin">Administrar</a></li>
        </ul>
    </section>
    <section class="add-carrito">
        <a class="irCarrito" href="shopCart"><i class="fas fa-cart-plus"></i></a>
    </section>
    
</nav>