<nav class="BarraDeMenu">
    <section>
        <ul class="menu_1" type="none">
            <li><a href="/products/all">productos</a></li>
            <li><a href="/admin">administrar</a></li>
        </ul>
    </section>
    <section class="add-carrito">
        <a class="irCarrito" href="/carrito"><i class="fas fa-cart-plus"></i></a>
    </section>
    <section>
        <ul class="menu_2" type="none">
            <li><a href="/users/login">Iniciá sesión</a></li>
            <li><a href="/users/register">Creá tu cuenta</a></li>
        </ul>

    </section>
</nav>