<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>

            <%- include('partials/navbar.ejs') %>

                <main>
                    <h3 class="título">QUIENES SOMOS </h3>
                    <section>

                    <p class="Textos">
                        Somos una empresa dedicada a todo lo que conlleva el cuidado y el bienestar de tu mascota.
                        Contamos con mas de 10 años de experiencia en el mercado y manejamos proveedores de primera calidad.
                        Estamos incorporando continuamente nuevos productos y servicios para brindarte cada vez mas 
                        herramientas para que puedas cuidar a ese ser tan querido y miembro de la familia. 
                    </p>

                    </section>
                </main>

                <%- include('partials/footer.ejs') %>

                <script src="/javascript/js-front.js"></script>
    </body>

</html>
