<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>

            <%- include('partials/navbar.ejs') %>

                <main>
                    <h3 class="título">CONTACTANOS </h3>
                    <section>

                        <article class="contacto">
                            <ul class="Textos" type="none">
                                <li> HORARIO DE ATENCION:</li>
                                <li> De lunes a viernes de 10hs a 20hs</li>

                                <li> TELEFONO:</li>
                                <li> 0800-404-PETS</li>

                            </ul>
                            <ul class="Textos" type="none">
                                <li> SUCURSALES:</li>
                                <li>- Av. Cabildo 4650</li>
                                <li>- Av. Maipu 591</li>
                                <li>- Av. Cordoba 7220</li>
                                <img src="images/otros/Mapita pets.jpg">
                            </ul>
                        </article>

                    </section>
                </main>

                <%- include('partials/footer.ejs') %>

                    <script src="/javascript/js-front.js"></script>
    </body>

</html>