<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
        
        <%- include('partials/navbar.ejs') %>

        <!-- <nav class="BarraDeMenu">
            <section>
                <ul class="menu_1" type="none">
                    <li><a href="/products">productos</a></li>
                    <li><a href="/views/administrador/">administrar</a></li>
                </ul>
            </section>
            <section class="add-carrito">
                <a class="irCarrito" href="/carrito"><i class="fas fa-cart-plus"></i></a>
            </section>
            <section>
                <ul class="menu_2" type="none">
                    <li><a href="./users/login">Iniciá sesión</a></li>
                    <li><a href="users/register">Creá tu cuenta</a></li>
                </ul>
        
            </section> 
        </nav>  -->          
            <main>
                <section class="productos">
                    <img src="/images/perros.jpg" alt="perros">
                    <img src="/images/gatos.jpg" alt="gatos">
                    <img src="/images/accesorios.jpg" alt="accesorios">
                </section>
            </main>

            <%- include('partials/footer.ejs') %>
</body>
</html>