<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
        
        <%- include('partials/navbar.ejs') %>

        
            <main>
                <section class="productos">
                    <img class="imgCatHome" src="/images/perros.jpg" alt="perros">
                    <img class="imgCatHome" src="/images/gatos.jpg" alt="gatos">
                    <img class="imgCatHome" src="/images/accesorios.jpg" alt="accesorios">
                </section>
            </main>

            <%- include('partials/footer.ejs') %>
</body>
</html>