<!DOCTYPE html>
<html>

    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>

        <%- include('partials/navbar.ejs') %>

            <main>
                <h3 class="título">INICIA SESION</h3>
                <section class="formularios">
                    <div class="bannersLat">
                        <img src="/images/otros/Banner_Perro_Izq.jpg">
                    </div>
                    <form action="/login/processLogin" method="post">
                        <p class="etiquetas1">
                            <label for="email">e-mail: </label>
                        </p>
                        <p class="inputs1">
                            <input type="text" name="email">
                        </p> 
                        <p class="etiquetas1">
                            <label for="password">Contraseña: </label>
                        </p>
                        <p class="inputs1">
                            <input type="password" name="password">
                        </p>
                        <p class="boton1">
                            <button type="submit">INGRESAR!</button>
                        </p>
                    </form>
                    <div class="bannersLat">
                        <img src="images/otros/Banner_Gato_Der.jpg">
                    </div>
                </section>
            </main>
            <%- include('partials/footer.ejs') %>

            <script src="/javascript/js-front.js"></script>
        </body>

</html>