<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/header.ejs') %>
            <main>
                <section class="formularios">
                    <form action="products/edit/<%= products.id%>?_method=PUT" method="POST">

                        <p class="etiquetas1">
                            <label for="product" class="form-label">NOMBRE DEL PRODUCTO </label>
                        </p>
                        <p class="inputs1">
                            <input type="text" id="name" name="producto" placeholder="Ingresa nombre acá" class="form-input">
                        </p>
                        <p class="etiquetas1">
                            <label for="price" class="form-label">PRECIO </label>
                        </p>
                        <p class="inputs1">
                            <input type="number" id="price" name="price" placeholder="$???" class="form-input">
                        </p>
                        <p class="etiquetas1">
                            <label for="discount" class="form-label">% DE DESCUENTO </label>
                        </p>
                        <p class="inputs1">
                            <input type="text" id="discount" name="discount" placeholder="%???" class="form-input">
                        </p>
                        <p class="etiquetas1">
                            <label for="category" class="form-label">CATEGORÍA </label>
                        </p>
                        <p class="inputs1">
                            <input id="category" name="category" class="form-input">
                            <option value="">ELEGÍ UNA OPCIÓN</option>
                            <option value="alimentos">ALIMENTOS</option>
                            <option value="accesorios">ACCESORIOS</option>
                            <option value="moises">MOISESES Y COLCHONETAS</option>
                        </p>
                        <p class="etiquetas1">
                            <label for="description" class="form-label">DESCRIPCIÓN </label>
                        </p>
                        <p class="inputs1">
                            <textarea id="descripcion" name="descripcion" class="form-input"></textarea>
                        </p>

                        <p class="boton1">
                            <button type="submit">MODIFICAR!</button>
                        </p>
                    </form>
                </section>
            </main>
            <%- include('partials/footer.ejs') %>
    </body>

</html>